<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b6bec2">  <td>19/05/09 02:36:43</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;openbrowser.close()[pri:0, instance:script.getUrls@661972b0]">&lt;&lt;close</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@283318938</td>   <td></td> </tr>
<tr bgcolor="b6bec2">  <td>19/05/09 02:36:44</td>   <td>759</td> <td title="&lt;&lt;openbrowser.extentClose()[pri:0, instance:script.getUrls@661972b0]">&lt;&lt;extentClose</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@283318938</td>   <td></td> </tr>
<tr bgcolor="b6bec2">  <td>19/05/09 02:34:05</td>   <td>-157867</td> <td title="&gt;&gt;openbrowser.extentOpen()[pri:0, instance:script.getUrls@661972b0]">&gt;&gt;extentOpen</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@283318938</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>19/05/09 02:34:18</td>   <td>-144494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="script.getUrls.find()[pri:0, instance:script.getUrls@661972b0]">find</td>
  <td>main@283318938</td>   <td></td> </tr>
<tr bgcolor="b6bec2">  <td>19/05/09 02:34:05</td>   <td>-157642</td> <td>&nbsp;</td><td title="&gt;&gt;openbrowser.open()[pri:0, instance:script.getUrls@661972b0]">&gt;&gt;open</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@283318938</td>   <td></td> </tr>
</table>
